.libs
.deps
.dirstamp
*.o
*.lo
*.la
.*.sw*
stamp-h?
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
libfabric.spec
doxygen
mpichconf.h*

config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/lt*.m4
config/missing

config/test-driver
mpp/shmem.fh
mpp/shmem.h
mpp/shmem.h4
mpp/shmemx.h4
mpp/pshmem.h4
mpp/shmemx.fh
mpp/shmemx.h
sandia-openshmem.spec
src/oshCC
src/oshc++
src/oshcc
src/oshfort
src/oshrun
src/atomic_c.c
src/collectives_c.c
src/collectives_f.c
src/data_c.c
src/data_f.c
src/synchronization_c.c
test/unit/.Tpo
*.log
*.trs

test/**/*
!test/**/*/
!test/**/*.c
!test/**/*.h
!test/**/*.am
!test/**/README
!test/**/*.f90
!test/**/*.cpp

