.libs
.deps
.dirstamp
*.o
*.lo
*.la
stamp-h?
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
libfabric.spec
doxygen

config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/lt*.m4
config/missing

config/test-driver
mpp/shmem.fh
mpp/shmem.h
mpp/shmemx.fh
mpp/shmemx.h
sandia-openshmem.spec
shmem_pmi/config/
src/oshCC
src/oshc++
src/oshcc
src/oshfort
src/oshrun
test/unit/.Tpo
*.log
*.trs
test/unit/to_all
test/unit/hello_test
test/unit/barrier
test/unit/hello
test/unit/sping
test/unit/pingpong-short
test/unit/ipgm
test/unit/iput-iget
test/unit/swapm
test/unit/cswap
test/unit/waituntil
test/unit/atomic_inc
test/unit/set_lock
test/unit/test_lock
test/unit/test_lock_cswap
test/unit/fcollect64
test/unit/bigput
test/unit/bigget
test/unit/ns
test/unit/bcast_flood
test/unit/lfinc
test/unit/mt_a2a
test/unit/shmem_info
test/unit/global_exit
test/unit/asym_alloc
test/unit/set_fetch
test/unit/alltoall
test/unit/put1
test/unit/get1
test/unit/swap1
test/unit/ping
test/unit/pingpong
test/unit/shmalloc
test/unit/shrealloc
test/unit/micro_unit_shmem
test/unit/circular_shift
test/unit/accessible_ping
test/unit/max_reduction
test/unit/alltoalls
test/unit/c11_test_shmem_add
test/unit/c11_test_shmem_fetch
test/unit/c11_test_shmem_g
test/unit/c11_test_shmem_get
test/unit/c11_test_shmem_inc
test/unit/c11_test_shmem_p
test/unit/c11_test_shmem_put
test/unit/c11_test_shmem_set
test/unit/big_reduction
test/unit/strided_put
test/unit/bcast
test/unit/shmemalign
test/unit/get_g
test/unit/iput32
test/unit/iput64
test/unit/iput128
test/unit/iput_short
test/unit/iput_double
test/unit/iput_float
test/unit/iput_long
test/unit/iput_longdouble
test/unit/iput_longlong
test/unit/get_nbi
test/unit/put_nbi
test/unit/hello_f
test/unit/shmem_info_f
